.vbox-background-center{

          -fx-background-image:url("bgcenter.jpg")

}

.vbox-background-right{

          -fx-background-image:url("bgright.jpg")

}
.profile-button{
-fx-background-color:#000000
}

.profile-button:hover{
-fx-background-color:#d39d50
}

.cursor-hand{
-fx-cursor:hand
}

.login-button{
-fx-background-color:#ed6637
}

.login-button:hover{
-fx-background-color:#d39d50
}

.signup-button{
-fx-background-color:transparent
}

.signup-button:hover{
-fx-background-color:#ed6637
}